.header-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.header-list {
  list-style-type: none;
  display: flex;
}

.link {
  margin-right: 10px;
  font-family: 'Roboto';
  font-size: 16px;
}
